:root {
  font-size: 16px;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Switzer", sans-serif;
}
.container_wrapper,
.container {
  border-radius: 1rem;
}
.container_wrapper {
  background-image: linear-gradient(
    180deg,
    rgba(60, 27, 191, 1) 0%,
    rgba(60, 27, 191, 0) 100%
  );
  padding: 1px;
  margin: 5rem 1.5rem 1.5rem;
}
.container {
  position: relative;
  background-image: linear-gradient(180deg, #fff 0%, #fff 100%);
  padding: 2rem 1rem;
}

.container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(60, 27, 191, 0.05) 0%,
    rgba(60, 27, 191, 0) 100%
  );
}
.text_wrapper {
  position: relative;
  z-index: 1;
}
.title {
  background: -webkit-linear-gradient(0deg, #333242, #3c1bbf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  max-width: 20em;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.description {
  color: #8e8eac;
  max-width: 53em;
  font-size: 0.8rem;
}

.assets {
  margin-top: 7.25rem;
  background-image: url(./dots-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  height: 30rem;
}

@keyframes main_logo_shadow {
  50% {
    scale: var(--scale);
    opacity: 0.45;
  }
}
.main_logo {
  aspect-ratio: 1;
  display: block;
  width: calc((276 / 16) * 1rem);
  scale: 0.5;
  position: relative;
  z-index: 2;
}
.main_logo_wrapper {
  position: relative;
}
.main_logo_wrapper::before {
  content: " ";
  --scale: 1.0125;
  position: absolute;
  display: block;
  aspect-ratio: 1;
  width: 65%;
  background-color: #3c1bbf40;
  opacity: 0.1;
  left: 50%;
  top: 50%;
  filter: blur(1rem);
  translate: -50% -50%;
  z-index: 1;
  border-radius: 3rem;
  animation: main_logo_shadow 4s ease-in-out infinite 2.5s;
}

.branch_container {
  position: relative;
  scale: 0.5;
  rotate: 90deg;
  translate: 0 -50%;
}

.branch_container.left {
  translate: 0 50%;
}

.icons_container {
  position: absolute;
  height: calc((514 / 404) * 100% + 10%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  translate: -15% -15%;
}

.icons_container.right_icons {
  right: 0;
  translate: 15% -15%;
}

.icons_group {
  display: flex;
  flex-direction: column;
}

.icon {
  display: block;
  width: 7.5rem;
  height: 7.5rem;
  rotate: -90deg;
}

.icon.with_pad {
  padding: 0.8em;
}

.icon img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.left_icons .icons_top .icon:last-child {
  translate: -80% 20%;
}

.left_icons .icons_bot .icon:first-child {
  translate: -80% 0%;
}

.right_icons .icons_top .icon:last-child {
  translate: 80% 20%;
}

.right_icons .icons_bot .icon:first-child {
  translate: 80% 0%;
}

.branch {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 2;
}
.branch > * {
  position: relative;
}
.branch > *::after,
.branch > *::before {
  --bg-direction: 270deg;
  content: "";
  position: absolute;
  aspect-ratio: 3;
  width: 6.25rem;
  display: block;
  background-image: linear-gradient(
    var(--bg-direction),
    #3c1bbf 0.04%,
    rgba(60, 27, 191, 0) 50.57%
  );
  right: 100%;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.branch.right_branch > *::after,
.branch.branch.right_branch > *::before {
  animation-delay: 3s;
}

.left_top::before,
.left_top::after,
.left_bot::after,
.left_bot::before {
  left: 100%;
  right: auto;
}
.right_top {
  mask: url(./right-top.svg);
}
.left_top {
  mask: url(./left-top.svg);
  mask-repeat: no-repeat;
}
.right_bot {
  mask: url(./right-bot.svg);
  mask-repeat: no-repeat;
}
.left_bot {
  mask: url(./left-bot.svg);
  mask-repeat: no-repeat;
}
@keyframes right_top_top {
  0% {
    rotate: 0deg;
    translate: 0 450%;
  }
  35% {
    translate: 150% 380%;
  }
  50% {
    rotate: -75deg;
  }
  75% {
    translate: 150% 70%;
  }
  100% {
    rotate: 0deg;
    translate: 250% -50%;
  }
}
.right_top::before {
  animation-name: right_top_top;
}

@keyframes right_top_bot {
  0% {
    rotate: 0;
    translate: 0 -50%;
  }
  40% {
    translate: 150% -50%;
  }
  80% {
    rotate: -45deg;
  }
  100% {
    rotate: 0;
    translate: 300% -300%;
  }
}
.right_top::after {
  animation-name: right_top_bot;
}

@keyframes left_top_top {
  0% {
    rotate: 0deg;
    translate: -300% -30%;
  }
  20% {
    rotate: 0deg;
    translate: -230% -30%;
  }
  30% {
    rotate: 5deg;
  }
  60% {
    rotate: 70deg;
  }
  70% {
    rotate: 35deg;
    translate: -150% 340%;
  }
  100% {
    translate: -50% 430%;
  }
}
.left_top::before {
  animation-name: left_top_top;
}

@keyframes left_top_bot {
  0% {
    rotate: 0;
    translate: -400% -350%;
  }
  15% {
    rotate: 15deg;
    translate: -330% -350%;
  }
  45% {
    rotate: 15deg;
    translate: -250% -150%;
  }
  100% {
    rotate: 0;
    translate: -50% -50%;
  }
}
.left_top::after {
  animation-name: left_top_bot;
}

@keyframes right_bot_top {
  0% {
    rotate: 0;
    translate: 0 -50%;
  }
  40% {
    translate: 150% -50%;
  }
  80% {
    rotate: 45deg;
  }
  100% {
    rotate: 0;
    translate: 300% 200%;
  }
}
.right_bot::before {
  animation-name: right_bot_top;
}

@keyframes left_bot_top {
  0% {
    rotate: 0;
    translate: -400% 250%;
  }
  15% {
    rotate: -15deg;
    translate: -330% 250%;
  }
  45% {
    rotate: -15deg;
    translate: -250% -10%;
  }
  100% {
    rotate: 0;
    translate: -50% -30%;
  }
}
.left_bot::before {
  animation-name: left_bot_top;
}

@keyframes right_bot_bot {
  0% {
    rotate: 0;
    translate: 0 -600%;
  }
  30% {
    translate: 100% -550%;
  }
  40% {
    rotate: 35deg;
    translate: 130% -500%;
  }
  70% {
    rotate: 75deg;
  }
  90% {
    translate: 200% -70%;
  }
  100% {
    rotate: 0;
    translate: 250% -50%;
  }
}
.right_bot::after {
  animation-name: right_bot_bot;
}

@keyframes left_bot_bot {
  0% {
    rotate: 0deg;
    translate: -300% -30%;
  }
  20% {
    rotate: 0deg;
    translate: -230% -30%;
  }
  30% {
    rotate: -10deg;
  }
  60% {
    rotate: -70deg;
  }
  70% {
    rotate: -15deg;
    translate: -150% -460%;
  }
  100% {
    translate: -50% -550%;
  }
}
.left_bot::after {
  animation-name: left_bot_bot;
}

@media (min-width: 768px) {
  .container {
    padding: 5rem 2.5rem;
  }
  .title {
    font-size: 3.75rem;
  }
  .description {
    font-size: 1.25rem;
  }
  .assets {
    flex-direction: row;
    height: fit-content;
  }
  .main_logo {
    scale: 1;
  }
  .main_logo_wrapper::before {
    width: 125%;
    border-radius: 6rem;
  }
  .branch_container,
  .branch_container.left {
    scale: 1;
    rotate: 0deg;
    translate: 0;
  }

  .icon {
    rotate: 0deg;
  }
}
